@font-face {
    font-family: 'projetoFocus';
    src: url('Fontes/ABSTER.otf') format('opentype');
}

body{
    background-color: #af3434;
    transition: color 0.5s ease-in-out 0s;
}

.titulo{
    font-family:'projetoFocus', ABSTER;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    transition: color 0.5s ease-in-out 0s;
}


/*CSS do cornometro*/

.baseTimer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.baseTimerItems {
    position: relative;
    width: 200px;
}

.baseTimerCircle{
    fill: none;
    stroke: none;
}

.baseTimerCirclePath{
    stroke-width: 6px;
    stroke: #ad5858;
}

.timeLabel{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;

    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
}

/*----------------------------------------------------------------------------------------------*/


/*fiz uma tag div para receber os botoes Start e Next,
  com o unico objetivo usar o felxbox e tornar o site
  adaptavel para qualquer resolução*/

.baseButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}




.buttonStart{
    cursor: pointer !important; 
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    appearance: button;
    box-shadow: #afafaf -2px 3px 0px;
    background-color: #ffffff;
    border: solid transparent;
    font-weight:1000;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20%;
    display: inline-block;
    transition: ease-in-out 0.2s;
    
}

.buttonStop{
    cursor: pointer !important; 
    border: none;
    padding: 10px 17px;
    border-radius: 4px;
    appearance: button;
    box-shadow: #afafaf -2px 3px 0px;
    background-color: #ffffff;
    border: solid transparent;
    font-weight:1000;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20%;
    display: inline-block;
    transition: ease-in-out 0.2s;
    
}


.buttonNext{ 
    cursor: pointer !important; 
    border: none;
    padding: 0px 10px;
    border-radius: 4px;
    appearance: button;
    box-shadow: #afafaf -2px 3px 0px;
    background-color: #ffffff;
    border: solid transparent;
    font-weight: bold;
    border-radius: 20%;
    transition: color 0.5s ease-in-out 0s;
    height: 40px;
    width: 60px;
    display: inline-block;
    transition: ease-in-out 0.2s;
}


.buttonStart:hover, .buttonNext:hover, .buttonStop:hover{
    font-size: -50%;
    background-color: #e6e6e6;
}


.buttonNext:active,.buttonStart:active, .buttonStop:active{
    transform: scale(90%);
    font-size: -50%;
    background-color: #afafaf;
}


#stopCondition{
    display: none;
}